@{
    ViewData["Title"] = "Town Registry";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Town Registry</h1>
    <p>
        <a href='@Url.Action("ViewDatabase","Home")'>
            View Registry
        </a>
    </p>
    <p>
        <a href='@Url.Action("Register", "Home")' class="elements">
            Register A Resident
        </a>
    </p>
</div>
